# Virtual environment
mvenv/
venv/
env/

# added just for my understanding
code.md

# Python
__pycache__/
dist/
build/

# IDE
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Instructions
instructions.md